/freesoc2.cywrk.*
/freesoc2.cydsn/codegentemp
/freesoc2.cydsn/CortexM3
/freesoc2.cydsn/Export
/freesoc2.cydsn/Generated_Source
/freesoc2.cydsn/freesoc2.cycdx
/freesoc2.cydsn/freesoc2.cyfit
/freesoc2.cydsn/freesoc2.cyprj.*
/freesoc2.cydsn/freesoc2.rpt
/freesoc2.cydsn/freesoc2_timing.html
